numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm
torch
torchvision
torchaudio
torchmetrics
torchinfo
opencv-python
opencv-contrib-python
Pillow
albumentations
jupyter
notebook
ipywidgets
tensorboard
ipython
Flask
flask-cors
requests
PyYAML
loguru
